openapi: 3.0.3
info:
  title: Recivu API
  description: API for interacting with the Recivu ecosystem
  version: 1.0.0
  contact:
    name: Recivu
    url: https://recivu.it

servers:
  - url: https://api.recivu.it/v1
    description: Production server

tags:
  - name: Invoices
    description: "Endpoints to manage receipt conversion requests"
  - name: Companies
    description: "Endpoints for managing companies registered on Recivu"
  - name: Employees

paths:
  /invoices:
    post:
      tags:
        - Invoices
      summary: Request invoice conversion from receipt
      security:
        - bearerAuth: []
      description: Request the conversion of a receipt into an invoice
      operationId: createInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRequest"
      responses:
        "200":
          description: Invoice created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInvoiceResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInvoiceResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInvoiceResponse"
  /invoices/{id}:
    get:
      tags:
        - Invoices
      summmary: Request status related to a conversion request
      security:
        - bearerAuth: []
      description: Request an update on the status of a receipt conversion request
      operationId: requestInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetInvoiceStatusRequest"
      responses:
        "200":
          description: Invoice found and retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceStatusResponse"
        "202":
          description: Invoice is still being processed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceStatusPendingResponse"
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceStatusErrorResponse"
  /company:
    post:
      tags:
        - Companies
      summary: Register a new company to Recivu
      security:
        - bearerAuth: []
      description: Register a new company to Recivu
      operationId: registerCompany
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCompanyRequest"
      responses:
        "200":
          description: Company registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterCompanyResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponse"
  /employee:
    post:
      tags:
        - Employees
      summary: Add a new employee
      security:
        - bearerAuth: []
      description: Add a new employee to the Recivu ecosystem
      operationId: createEmployee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmployeeRequest"
      responses:
        "200":
          description: Employee created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEmployeeResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEmployeeResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEmployeeResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CreateInvoiceRequest:
      type: object
      required:
        - receipt_image
        - receipt
        - type
        - employee_id
        - company_id
      properties:
        receipt_image:
          type: string
          description: Base64 encoded receipt image
          example: "iVBORw0KGgoAAAANSUhEUgAA..."
        receipt_image_filename:
          type: string
          description: Optional filename for the receipt image
          example: "receipt_20240822.jpg"
        receipt:
          $ref: "#/components/schemas/ReceiptRequest"
        type:
          $ref: "#/components/schemas/TxType"
        employee_id:
          type: string
          description: Shared ID of the employee associated with the receipt
          example: "em_1nj12iei3"
        company_id:
          type: string
          description: Company shared ID
          example: "co_1nj12iei3"
        purchase_description:
          $ref: "#/components/schemas/PurchaseContext"

    ReceiptRequest:
      type: object
      required:
        - receipt_header
        - receipt_body
        - receipt_footer
      properties:
        receipt_header:
          $ref: "#/components/schemas/ReceiptHeader"
        receipt_body:
          $ref: "#/components/schemas/ReceiptBody"
        receipt_footer:
          $ref: "#/components/schemas/ReceiptFooter"

    ReceiptHeader:
      type: object
      required:
        - merchant_vat
        - merchant_name
      properties:
        store_name:
          type: string
          description: Name of the store
          example: "Supermarket ABC"
        store_address:
          type: string
          description: Address of the store
          example: "Via Roma 123, 00100 Roma RM"
        store_phone:
          type: string
          description: Phone number of the store
          example: "+39 06 12345678"
        store_email:
          type: string
          description: Email address of the store
          example: "info@supermarketabc.it"
        merchant_vat:
          type: string
          description: Merchant VAT number
          example: "IT98765432109"
        merchant_name:
          type: string
          description: Merchant name
          example: "Supermarket ABC S.r.l."

    ReceiptBody:
      type: object
      required:
        - products
        - receipt_total
        - receipt_vat
      properties:
        products:
          type: array
          description: List of products in the receipt
          items:
            $ref: "#/components/schemas/ProductRequest"
        receipt_total:
          type: string
          description: Total amount of the receipt
          example: "25.50"
        receipt_vat:
          type: string
          description: Total VAT amount
          example: "4.59"

    ProductRequest:
      type: object
      required:
        - product_description
        - product_total
        - product_vat
      properties:
        product_description:
          type: string
          description: Description of the product
          example: "Pasta integrale 500g"
        product_quantity:
          type: string
          description: Quantity of the product
          example: "2"
        product_total:
          type: string
          description: Total price for this product
          example: "3.50"
        product_vat:
          type: string
          description: VAT amount for this product
          example: "0.77"
        product_absolute_discount:
          type: string
          description: Absolute discount amount
          example: "1.00"
        product_percent_discount:
          type: string
          description: Percentage discount
          example: "10%"

    ReceiptFooter:
      type: object
      required:
        - receipt_date_time
        - receipt_number
      properties:
        receipt_date_time:
          type: string
          description: Date and time of the receipt
          format: date-time
          example: "2024-08-22T14:30:00Z"
        receipt_number:
          type: string
          description: Receipt number
          example: "RCP-2024-001234"
        rt_number:
          type: string
          description: RT (Registratore Telematico) number of the register
          example: "RT001234567890"

    PurchaseContext:
      type: object
      properties:
        cost_center:
          type: string
          description: Cost center for the purchase
          example: "IT Department"
        purchase_reason:
          type: string
          description: Reason for the purchase
          example: "Office supplies"

    CreateInvoiceResponse:
      type: object
      required:
        - transaction_id
        - status
      properties:
        transaction_id:
          type: string
          description: Unique transaction identifier
          example: "txn_abc123def456"
        status:
          type: string
          description: Status of the invoice creation
          enum: [success, error, pending]
          example: "success"

    ErrorResponse:
      type: object
      required:
        - error_code
        - error_message
      properties:
        error_code:
          type: integer
          description: Error code
          example: 400
        error_message:
          type: string
          description: Human-readable error message
          example: "Invalid VAT number format"

    InternalErrorResponse:
      type: object
      required:
        - error_code
        - error_message
      properties:
        error_code:
          type: integer
          description: Error code
          example: 500
        error_message:
          type: string
          description: Human-readable error message
          example: "Internal server error"

    GetInvoiceStatusRequest:
      type: object
      required:
        - transaction_id
      properties:
        transaction_id:
          type: string
          description: Transaction ID issued at request
          example: "txn_abc123def456"

    GetInvoiceStatusResponse:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
          description: Status of the receipt conversion request
          example: "Invoice correctly sent"
        error:
          type: string
          description: Description of the error
          example: ""

    GetInvoiceStatusPendingResponse:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
          description: Status of the receipt conversion request
          example: "Receipt correctly received but not yet converted"
        error:
          type: string
          description: Description of the error
          example: "Receipt conversion request not found"

    GetInvoiceStatusErrorResponse:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
          description: Status of the receipt conversion request
          example: "Invoice correctly sent"
        error:
          type: string
          description: Description of the error
          example: ""

    TxType:
      type: string
      description: Transaction type
      enum:
        - Test
        - Live
      example: "Live"

    RegisterCompanyRequest:
      type: object
      required:
        - vat_number
        - company_name
        - company_address
        - company_transmission_channel
        - company_contacts
      properties:
        vat_number:
          type: string
          description: Company's VAT number included of the international prefix. If extra-EU country put OO999999999
          example: "IT07280260485"
        company_name:
          type: string
          description: Company's legal name
          example: "Recivu S.R.L."
        company_address:
          $ref: "#/components/schemas/CompanyAddressRequest"
        company_transmission_channel:
          $ref: "#/components/schemas/CompanyTransmissionChannelRequest"
        company_contacts:
          $ref: "#/components/schemas/CompanyContactsRequest"

    CompanyAddressRequest:
      type: object
      required:
        - address
        - postal_code
        - city
        - province
        - country
      properties:
        address:
          type: string
          description: Company's address and number
          example: "Via Newton 104"
        postal_code:
          type: string
          description: Company's postal_code
          example: "50018"
        city:
          type: string
          description: Company's city
          example: "Scandicci"
        province:
          type: string
          description: Company's province. Not required in case of a company registered in a foreign country
          example: "FI"
        country:
          type: string
          description: Company's country of origin
          example: "IT"

    CompanyTransmissionChannelRequest:
      type: object
      oneOf:
        - required: [sdi_code]
        - required: [pec_address]
      properties:
        sdi_code:
          type: string
          description: Company's SDI code. If foreign country put XXXXXXX
          example: "KRRH6B9"
        pec_address:
          type: string
          description: Company's legal mail
          example: "postmaster@pec.recivu.com"
      description: "One of the two options is required"

    CompanyContactsRequest:
      type: object
      properties:
        company_email:
          type: string
          description: Company's official email address
          example: "info@recivu.it"
        representative_email:
          type: string
          description: Company's representative's email address
          example: "john@appleseed.com"

    RegisterCompanyResponse:
      type: object
      required:
        - company_id
        - status
      properties:
        company_id:
          type: string
          description: Unique company identifier
          example: "co_1nj12iei3"

    CreateEmployeeRequest:
      type: object
      required:
        - company_id
        - first_name
        - last_name
      properties:
        company_id:
          type: string
          description: Company's internal ID shared on creation
          example: "co_1nj12iei3"
        first_name:
          type: string
          description: Employee's first name
          example: "John"
        last_name:
          type: string
          description: Employee's last name
          example: "Appleseed"

    CreateEmployeeResponse:
      type: object
      required:
        - employee_id
      properties:
        employee_id:
          type: string
          description: Unique employee identifier
          example: "em_abc123def456"

  examples:
    CreateInvoiceRequestExample:
      summary: Example invoice creation request
      value:
        receipt_image: "iVBORw0KGgoAAAANSUhEUgAA..."
        receipt_image_filename: "receipt_20240822.jpg"
        receipt:
          receipt_header:
            store_name: "Supermarket ABC"
            store_address: "Via Roma 123, 00100 Roma RM"
            store_phone: "+39 06 12345678"
            store_email: "info@supermarketabc.it"
            merchant_vat: "IT98765432109"
            merchant_name: "Supermarket ABC S.r.l."
          receipt_body:
            products:
              - product_description: "Pasta integrale 500g"
                product_quantity: "2"
                product_total: "3.50"
                product_vat: "0.77"
              - product_description: "Olio extra vergine 1L"
                product_quantity: "1"
                product_total: "12.00"
                product_vat: "2.64"
                product_absolute_discount: "1.00"
            receipt_total: "25.50"
            receipt_vat: "4.59"
          receipt_footer:
            receipt_date_time: "2024-08-22T14:30:00Z"
            receipt_number: "RCP-2024-001234"
            rt_number: "RT001234567890"
        type: "Live"
        employee_name: "Mario Rossi"
        company_vat: "IT12345678901"
        purchase_description:
          cost_center: "IT Department"
          purchase_reason: "Office supplies"

    CreateInvoiceResponseSuccessExample:
      summary: Successful response
      value:
        transaction_id: "txn_abc123def456"
        status: "success"

    CreateInvoiceResponseErrorExample:
      summary: Error response
      value:
        transaction_id: "txn_abc123def456"
        status: "error"
        error:
          error_code: 400
          error_message: "Invalid VAT number format"
