openapi: 3.0.3
info:
  title: Recivu API
  description: API for interacting with the Recivu ecosystem
  version: 1.0.0
  contact:
    name: Recivu
    url: https://recivu.it

servers:
  - url: https://api.recivu.it/v1
    description: Production server

tags:
  - name: Receipts
    description: "Endpoints to manage receipt conversion requests"
  - name: Companies
    description: "Endpoints for managing companies registered on Recivu"
  - name: Employees

paths:
  /receipt:
    post:
      tags:
        - Receipts
      summary: Request invoice conversion from receipt
      security:
        - apiKeyAuth: []
      description: Request the conversion of a receipt into an invoice
      operationId: createInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRequest"
      responses:
        "200":
          description: Invoice created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInvoiceResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Employee or company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                employeeNotFound:
                  summary: Employee ID not recognised
                  value:
                    error_code: 404
                    error_message: "Employee not found"
                companyNotFound:
                  summary: Company ID not recognised
                  value:
                    error_code: 404
                    error_message: "Company not found"
                employeeNotInCompany:
                  summary: Employee not registered for this company
                  value:
                    error_code: 404
                    error_message: "Employee is not registered for this company"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponse"
      callbacks:
        receiptStatusChanged:
          '{$request.body#/webhook_url}':
            post:
              summary: Webhook notification for receipt status change
              description: |
                Sent to the company's registered webhook URL when the status of a receipt conversion request changes.
                Recivu signs each request with an `x-recivu-signature` header for verification.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebhookPayload"
                    examples:
                      conversionCompleted:
                        summary: Conversion completed successfully
                        value:
                          event: "receipt.conversion.completed"
                          transaction_id: "txn_abc123def456"
                          status: "completed"
                          error: ""
                          timestamp: "2024-08-22T15:45:00Z"
                      conversionFailed:
                        summary: Conversion failed
                        value:
                          event: "receipt.conversion.failed"
                          transaction_id: "txn_abc123def456"
                          status: "failed"
                          error: "Unable to extract invoice data from receipt"
                          timestamp: "2024-08-22T15:45:00Z"
              responses:
                "200":
                  description: Webhook received successfully
  /receipts/{id}:
    get:
      tags:
        - Receipts
      summary: Request the status related to a conversion request
      security:
        - apiKeyAuth: []
      description: Request an update on the status of a receipt conversion request
      operationId: requestInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The transaction ID issued at request time
          example: "txn_abc123def456"
      responses:
        "200":
          description: Invoice found and retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceStatusResponse"
        "202":
          description: Invoice is still being processed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceStatusPendingResponse"
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceStatusErrorResponse"

  /invoices_download/{id}:
    get:
      tags:
        - Receipts
      summary: Download invoice PDF
      security:
        - apiKeyAuth: []
      description: Download the PDF file associated to an invoice
      operationId: requestInvoicePDF
      responses:
        "200":
          description: Invoice PDF file returned successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInvoiceFileErrorResponse"
  /company:
    post:
      tags:
        - Companies
      summary: Register a new company to Recivu
      security:
        - apiKeyAuth: []
      description: Register a new company to Recivu
      operationId: registerCompany
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCompanyRequest"
      responses:
        "200":
          description: Company registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterCompanyResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponse"
  /company/{id}:
    get:
      tags:
        - Companies
      summary: Get a company by ID
      security:
        - apiKeyAuth: []
      description: Retrieve a company's details along with its active employees
      operationId: getCompany
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The company's unique ID
          example: "co_1nj12iei3"
      responses:
        "200":
          description: Company retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCompanyResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponse"
    delete:
      tags:
        - Companies
      summary: Delete a company
      security:
        - apiKeyAuth: []
      description: Soft-delete a company by setting its status to deleted
      operationId: deleteCompany
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The company's unique ID
          example: "co_1nj12iei3"
      responses:
        "200":
          description: Company deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCompanyResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponse"
  /employee:
    post:
      tags:
        - Employees
      summary: Add a new employee
      security:
        - apiKeyAuth: []
      description: Add a new employee to the Recivu ecosystem
      operationId: createEmployee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmployeeRequest"
      responses:
        "200":
          description: Employee created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEmployeeResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponse"

  /employee/{id}:
    delete:
      tags:
        - Employees
      summary: Delete an employee
      security:
        - apiKeyAuth: []
      description: Soft-delete an employee by setting their status to deleted
      operationId: deleteEmployee
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The employee's unique ID
          example: "emp_abc123def"
      responses:
        "200":
          description: Employee deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteEmployeeResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Employee not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponse"

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    CreateInvoiceRequest:
      type: object
      required:
        - receipt_image
        - receipt
        - type
        - employee_id
        - company_id
      properties:
        receipt_image:
          type: string
          description: Base64 encoded receipt image
          example: "iVBORw0KGgoAAAANSUhEUgAA..."
        receipt_image_filename:
          type: string
          description: Optional filename for the receipt image
          example: "receipt_20240822.jpg"
        receipt:
          $ref: "#/components/schemas/ReceiptRequest"
        type:
          $ref: "#/components/schemas/TxType"
        employee_id:
          type: string
          description: Shared ID of the employee associated with the receipt
          example: "em_1nj12iei3"
        company_id:
          type: string
          description: Company shared ID
          example: "co_1nj12iei3"
        purchase_description:
          $ref: "#/components/schemas/PurchaseContext"

    ReceiptRequest:
      type: object
      required:
        - receipt_header
        - receipt_body
        - receipt_footer
      properties:
        receipt_header:
          $ref: "#/components/schemas/ReceiptHeader"
        receipt_body:
          $ref: "#/components/schemas/ReceiptBody"
        receipt_footer:
          $ref: "#/components/schemas/ReceiptFooter"

    ReceiptHeader:
      type: object
      required:
        - merchant_vat
        - merchant_name
      properties:
        store_name:
          type: string
          description: Name of the store
          example: "Supermarket ABC"
        store_address:
          type: string
          description: Address of the store
          example: "Via Roma 123, 00100 Roma RM"
        store_phone:
          type: string
          description: Phone number of the store
          example: "+39 06 12345678"
        store_email:
          type: string
          description: Email address of the store
          example: "info@supermarketabc.it"
        merchant_vat:
          type: string
          description: Merchant VAT number
          example: "IT98765432109"
        merchant_name:
          type: string
          description: Merchant name
          example: "Supermarket ABC S.r.l."

    ReceiptBody:
      type: object
      required:
        - products
        - receipt_total
        - receipt_vat
      properties:
        products:
          type: array
          description: List of products in the receipt
          items:
            $ref: "#/components/schemas/ProductRequest"
        receipt_total:
          type: string
          description: Total amount of the receipt
          example: "15.50"
        receipt_vat:
          type: string
          description: Total VAT amount
          example: "3.41"

    ProductRequest:
      type: object
      required:
        - product_description
        - product_total
        - product_vat
      properties:
        product_description:
          type: string
          description: Description of the product
          example: "Pasta integrale 500g"
        product_quantity:
          type: string
          description: Quantity of the product
          example: "2"
        product_total:
          type: string
          description: Total price for this product
          example: "3.50"
        product_vat:
          type: string
          description: VAT amount for this product
          example: "0.77"
        product_absolute_discount:
          type: string
          description: Absolute discount amount
          example: "1.00"
        product_percent_discount:
          type: string
          description: Percentage discount
          example: "10%"

    ReceiptFooter:
      type: object
      required:
        - receipt_date_time
        - receipt_number
      properties:
        receipt_date_time:
          type: string
          description: Date and time of the receipt
          format: date-time
          example: "2024-08-22T14:30:00Z"
        receipt_number:
          type: string
          description: Receipt number
          example: "RCP-2024-001234"
        rt_number:
          type: string
          description: RT (Registratore Telematico) number of the register
          example: "RT001234567890"

    PurchaseContext:
      type: object
      properties:
        cost_center:
          type: string
          description: Cost center for the purchase
          example: "IT Department"
        purchase_reason:
          type: string
          description: Reason for the purchase
          example: "Office supplies"

    CreateInvoiceResponse:
      type: object
      required:
        - transaction_id
        - status
      properties:
        transaction_id:
          type: string
          description: Unique transaction identifier
          example: "txn_abc123def456"
        status:
          type: string
          description: Status of the invoice creation
          enum: [success, error, pending]
          example: "success"

    ErrorResponse:
      type: object
      required:
        - error_code
        - error_message
      properties:
        error_code:
          type: integer
          description: Error code
          example: 400
        error_message:
          type: string
          description: Human-readable error message
          example: "Invalid VAT number format"

    InternalErrorResponse:
      type: object
      required:
        - error_code
        - error_message
      properties:
        error_code:
          type: integer
          description: Error code
          example: 500
        error_message:
          type: string
          description: Human-readable error message
          example: "Internal server error"

    GetInvoiceStatusResponse:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
          description: Status of the receipt conversion request
          example: "Invoice correctly sent"
        error:
          type: string
          description: Description of the error
          example: ""

    GetInvoiceStatusPendingResponse:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
          description: Status of the receipt conversion request
          example: "Receipt correctly received but not yet converted"
        error:
          type: string
          description: Description of the error
          example: ""

    GetInvoiceStatusErrorResponse:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
          description: Status of the receipt conversion request
          example: "Receipt conversion request not found"
        error:
          type: string
          description: Description of the error
          example: "No conversion request found for the given ID"

    GetInvoiceFileErrorResponse:
      type: object
      required:
        - transaction_id
        - error
      properties:
        transaction_id:
          type: string
          description: Transaction ID assigned at request time
          example: "txn_abc123def456"
        error:
          type: string
          description: Description of the error
          example: "Transaction not found"

    TxType:
      type: string
      description: Transaction type
      enum:
        - Test
        - Live
      example: "Live"

    RegisterCompanyRequest:
      type: object
      required:
        - vat_number
        - company_name
        - company_address
        - company_transmission_channel
        - company_contacts
      properties:
        vat_number:
          type: string
          description: Company's VAT number included of the international prefix. If extra-EU country put OO999999999
          example: "IT07280260485"
        company_name:
          type: string
          description: Company's legal name
          example: "Recivu S.R.L."
        company_address:
          $ref: "#/components/schemas/CompanyAddressRequest"
        company_transmission_channel:
          $ref: "#/components/schemas/CompanyTransmissionChannelRequest"
        company_contacts:
          $ref: "#/components/schemas/CompanyContactsRequest"
        webhook_url:
          type: string
          format: uri
          description: URL where Recivu will send POST notifications when the status of a receipt conversion request changes. Must be HTTPS.
          example: "https://partner.example.com/webhooks/recivu"

    CompanyAddressRequest:
      type: object
      required:
        - address
        - postal_code
        - city
        - province
        - country
      properties:
        address:
          type: string
          description: Company's address and number
          example: "Via Newton 104"
        postal_code:
          type: string
          description: Company's postal_code
          example: "50018"
        city:
          type: string
          description: Company's city
          example: "Scandicci"
        province:
          type: string
          description: Company's province. Not required in case of a company registered in a foreign country
          example: "FI"
        country:
          type: string
          description: Company's country of origin
          example: "IT"

    CompanyTransmissionChannelRequest:
      type: object
      oneOf:
        - required: [sdi_code]
        - required: [pec_address]
      properties:
        sdi_code:
          type: string
          description: Company's SDI code. If foreign country put XXXXXXX
          example: "KRRH6B9"
        pec_address:
          type: string
          description: Company's legal mail
          example: "postmaster@pec.recivu.com"
      description: "One of the two options is required"

    CompanyContactsRequest:
      type: object
      properties:
        company_email:
          type: string
          description: Company's official email address
          example: "info@recivu.it"
        representative_email:
          type: string
          description: Company's representative's email address
          example: "john@appleseed.com"

    RegisterCompanyResponse:
      type: object
      required:
        - company_id
        - status
      properties:
        company_id:
          type: string
          description: Unique company identifier
          example: "co_1nj12iei3"
        status:
          type: string
          description: Status of the company registration
          example: "success"

    CreateEmployeeRequest:
      type: object
      required:
        - company_id
        - first_name
        - last_name
      properties:
        company_id:
          type: string
          description: Company's internal ID shared on creation
          example: "co_1nj12iei3"
        first_name:
          type: string
          description: Employee's first name
          example: "John"
        last_name:
          type: string
          description: Employee's last name
          example: "Appleseed"

    CreateEmployeeResponse:
      type: object
      required:
        - employee_id
      properties:
        employee_id:
          type: string
          description: Unique employee identifier
          example: "emp_abc123def"

    EmployeeSummary:
      type: object
      required:
        - id
        - first_name
        - last_name
      properties:
        id:
          type: string
          description: Unique employee identifier
          example: "emp_abc123def"
        first_name:
          type: string
          description: Employee's first name
          example: "John"
        last_name:
          type: string
          description: Employee's last name
          example: "Appleseed"

    GetCompanyResponse:
      type: object
      required:
        - id
        - vat_number
        - company_name
        - company_address
        - company_transmission_channel
        - company_contacts
        - employees
      properties:
        id:
          type: string
          description: Unique company identifier
          example: "co_1nj12iei3"
        vat_number:
          type: string
          description: Company's VAT number
          example: "IT07280260485"
        company_name:
          type: string
          description: Company's legal name
          example: "Recivu S.R.L."
        company_address:
          $ref: "#/components/schemas/CompanyAddressRequest"
        company_transmission_channel:
          $ref: "#/components/schemas/CompanyTransmissionChannelRequest"
        company_contacts:
          $ref: "#/components/schemas/CompanyContactsRequest"
        webhook_url:
          type: string
          format: uri
          description: Registered webhook URL for receipt status notifications
          example: "https://partner.example.com/webhooks/recivu"
        employees:
          type: array
          description: Active employees belonging to this company
          items:
            $ref: "#/components/schemas/EmployeeSummary"

    DeleteCompanyResponse:
      type: object
      required:
        - status
        - company_id
      properties:
        status:
          type: string
          example: "success"
        company_id:
          type: string
          description: ID of the deleted company
          example: "co_1nj12iei3"

    DeleteEmployeeResponse:
      type: object
      required:
        - status
        - employee_id
      properties:
        status:
          type: string
          example: "success"
        employee_id:
          type: string
          description: ID of the deleted employee
          example: "emp_abc123def"

    WebhookPayload:
      type: object
      required:
        - event
        - transaction_id
        - status
        - timestamp
      properties:
        event:
          type: string
          description: The type of event that triggered the webhook
          enum:
            - receipt.conversion.completed
            - receipt.conversion.failed
          example: "receipt.conversion.completed"
        transaction_id:
          type: string
          description: The transaction ID of the receipt conversion request
          example: "txn_abc123def456"
        status:
          type: string
          description: The new status of the conversion request
          enum:
            - completed
            - failed
          example: "completed"
        error:
          type: string
          description: Error description if the conversion failed, empty otherwise
          example: ""
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the status changed
          example: "2024-08-22T15:45:00Z"

  examples:
    CreateInvoiceRequestExample:
      summary: Example invoice creation request
      value:
        receipt_image: "iVBORw0KGgoAAAANSUhEUgAA..."
        receipt_image_filename: "receipt_20240822.jpg"
        receipt:
          receipt_header:
            store_name: "Supermarket ABC"
            store_address: "Via Roma 123, 00100 Roma RM"
            store_phone: "+39 06 12345678"
            store_email: "info@supermarketabc.it"
            merchant_vat: "IT98765432109"
            merchant_name: "Supermarket ABC S.r.l."
          receipt_body:
            products:
              - product_description: "Pasta integrale 500g"
                product_quantity: "2"
                product_total: "3.50"
                product_vat: "0.77"
              - product_description: "Olio extra vergine 1L"
                product_quantity: "1"
                product_total: "12.00"
                product_vat: "2.64"
                product_absolute_discount: "1.00"
            receipt_total: "15.50"
            receipt_vat: "3.41"
          receipt_footer:
            receipt_date_time: "2024-08-22T14:30:00Z"
            receipt_number: "RCP-2024-001234"
            rt_number: "RT001234567890"
        type: "Live"
        employee_id: "em_1nj12iei3"
        company_id: "co_1nj12iei3"
        purchase_description:
          cost_center: "IT Department"
          purchase_reason: "Office supplies"

    CreateInvoiceResponseSuccessExample:
      summary: Successful response
      value:
        transaction_id: "txn_abc123def456"
        status: "success"

    CreateInvoiceResponseErrorExample:
      summary: Error response
      value:
        error_code: 400
        error_message: "Invalid VAT number format"
